table, tr, th, td {
    border: 2px solid rgb(89, 35, 226);
    border-collapse: collapse;
}

table {
    background-color: rgb(243, 226, 249);
}
th {
    width: 150px;
}

tr {
    height: 40px;
}

td {
    text-align: center;
}

.hora {
    font-weight: bold;
}